.custom-link::after {
  content: '';
  display: block;
  height: 100%;
  width: 0;
  background: rgba(255, 255, 255, 0.1);
  transition: width 400ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-link:hover::after {
  width: 100%;
}
